body {
    background-image: url(/assets/images/img-bg.jpg);
}
main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 400px;
    height: 200px;
    padding: 10px 20px;
    border: solid rgb(255, 255, 255) 5px;
}

textarea {
    width: 300px;
    height: auto
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    
}
button{
    background-color: white;
    padding: 10px;
}